<html>
	<head>
		<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='styles.css') }}">
	</head>
	<body>
		<h1>Edit Restaurant Name</h1>
		<div class='pane editRestaurant'>
		<form action='{{ url_for('editRestaurant', restaurant_id = i.id) }}' method="post">
			<h2>Edit {{i.name}}?</h2>

			<input type="text" size = '30' name='name' value='{{i.name}}'>
			<input type="submit" value='Edit'>


			<a href='{{ url_for('showRestaurants') }}'>Cancel</a> 
		</form>
		</div>
	</body>
</html>